In [4]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 294.9/294.9 kB 5.9 MB/s eta 0:00:00a 0:00:01
Collecting matplotlib!=3.6.1,>=3.4
  Downloading matplotlib-3.8.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 30.9 MB/s eta 0:00:0000:010:01
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /usr/local/lib/python3.9/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.9/site-packages (from seaborn) (2.2.0)
Collecting cycler>=0.10
  Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Collecting pyparsing>=2.3.1
  Downloading pyparsing-3.1.1-py3-none-any.whl (103 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.1/103.1 kB 4.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Collecting pillow>=8
  Downloading pillow-10.2.0-cp39-cp39-manylinux_2_28_x86_64.whl (4.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 42.0 MB/s eta 0:00:00:00:0100:01
Collecting kiwisolver>=1.3.1
  Downloading kiwisolver-1.4.5-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 26.0 MB/s eta 0:00:0000:01
Collecting importlib-resources>=3.2.0
  Downloading importlib_resources-6.1.1-py3-none-any.whl (33 kB)
Collecting contourpy>=1.0.1
  Downloading contourpy-1.2.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (310 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 311.0/311.0 kB 10.3 MB/s eta 0:00:00
Collecting fonttools>=4.22.0
  Downloading fonttools-4.49.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.6/4.6 MB 43.0 MB/s eta 0:00:00:00:0100:01
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.9/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.4->seaborn) (3.17.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, importlib-resources, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.2.0 cycler-0.12.1 fonttools-4.49.0 importlib-resources-6.1.1 kiwisolver-1.4.5 matplotlib-3.8.3 pillow-10.2.0 pyparsing-3.1.1 seaborn-0.13.2
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [11]:
pip install --upgrade pip

Requirement already satisfied: pip in /usr/local/lib/python3.9/site-packages (23.0.1)
Collecting pip
  Downloading pip-24.0-py3-none-any.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 16.2 MB/s eta 0:00:0000:0100:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.0.1
    Uninstalling pip-23.0.1:
      Successfully uninstalled pip-23.0.1
Successfully installed pip-24.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib

In [22]:
sales = pd.read_csv("./data/sales_data_sample.csv", encoding='Latin1')

In [23]:
sales.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

In [ ]:
sales.head()

In [ ]:
sales.shape

In [ ]:
sales.describe()

In [ ]:
sales.dtypes

In [ ]:
total_null = sales.isnull().sum().sort_values(ascending = False) # Total de nulos
percent_null = (sales.isnull().sum()/sales.isnull().count()).sort_values(ascending = False) #porcentaje de nulos
missing_data = pd.concat([total_null,percent_null],axis = 1,keys=['total_null','percent_null'])
missing_data

In [ ]:
total_null = sales.isnull().sum().sort_values(ascending = False)
total_null

In [ ]:
# Seleccionamos columnas de tipo entero
sales.select_dtypes(include=['object'])

In [ ]:
# Seleccion de columnas 
sales[["CUSTOMERNAME","CONTACTFIRSTNAME"]]

In [ ]:
# Seleccion de columnas mediante una lista
sales[sales.columns[-2:]]

In [ ]:
# Creamos una mascara boolean
booleanMask = sales.columns.isin(["CUSTOMERNAME","CONTACTFIRSTNAME"])
 
# guardamos las columnas que vamos a seleccionar 
selectedCols = sales.columns[booleanMask]
 
# Seleccionamos las columnas deseadas
sales[selectedCols]

In [ ]:
# Creamos una mascara boolean
booleanMask = sales.columns.isin(["CUSTOMERNAME","CONTACTFIRSTNAME1"])
booleanMask

In [ ]:
selectedCols = sales.columns[booleanMask]
selectedCols

In [ ]:
sales[selectedCols]

In [ ]:
# Usar .loc y .iloc para seleccionar columnas por nombre o posición
# .loc seleccion de una columna simple
sales.loc[:, 'CUSTOMERNAME' ]

In [ ]:
# Selección de columnas multiples
sales.loc[0:5, ["CUSTOMERNAME","CONTACTFIRSTNAME"] ]

In [ ]:
# uso de iloc
sales.iloc[1:5, [0, 2, 3] ]

In [ ]:
# seleccionamos las columnas que contengas NUMBER
sales.filter(like='NUMBER')

In [ ]:
sales.isna().sum()

In [ ]:
sales['STATE'].fillna(value='NY', inplace=True)

In [ ]:
df = sales[['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME']]
df

In [ ]:
# seleccionamos filas en base a condiciones
df2 = sales[(sales.STATE == 'NY') & (sales.QTR_ID == 1)]
df2

In [ ]:
df3 = df2.query('STATE == "NY" and QTR_ID == 1')
df3

In [ ]:
# group by

sales["count"] = 1
sales[["COUNTRY","count"]].groupby("COUNTRY").count()

In [ ]:
sales[["COUNTRY","PRICEEACH"]].groupby("COUNTRY").mean()

In [ ]:
sales[["COUNTRY","PRICEEACH"]].groupby("COUNTRY").min()

In [ ]:
sales.sort_values(by=["PRICEEACH"])

In [ ]:
sales.sort_values(by=["PRICEEACH"], ascending = False)

In [ ]:
sales.sort_values(by = ['YEAR_ID', 'PRICEEACH'], ascending = [True, False], na_position = 'first')

In [18]:
# Concat
fruta = { 'orange' : [3,2,0,1], 'apple' : [0,3,7,2], 'grapes' : [7,14,6,15] } 
df1 = pd.DataFrame(fruta) 
df1

   orange  apple  grapes
0       3      0       7
1       2      3      14
2       0      7       6
3       1      2      15

In [19]:
fruta = { 'grapes' : [13,12,10,2,55,98], 'mango' : [10,13,17,2,9,76], 'banana' : [20,23,27,4,0,9], 'pear' : [21,24,28,51,22,25], 'pineapple' : [30,33,38,30,36,31] } 
df2 = pd.DataFrame(fruta) 
df2

   grapes  mango  banana  pear  pineapple
0      13     10      20    21         30
1      12     13      23    24         33
2      10     17      27    28         38
3       2      2       4    51         30
4      55      9       0    22         36
5      98     76       9    25         31

In [20]:
# axis=0 se concatena de forma horizontal
pd.concat((df1, df2), axis = 0)

   orange  apple  grapes  mango  banana  pear  pineapple
0     3.0    0.0       7    NaN     NaN   NaN        NaN
1     2.0    3.0      14    NaN     NaN   NaN        NaN
2     0.0    7.0       6    NaN     NaN   NaN        NaN
3     1.0    2.0      15    NaN     NaN   NaN        NaN
0     NaN    NaN      13   10.0    20.0  21.0       30.0
1     NaN    NaN      12   13.0    23.0  24.0       33.0
2     NaN    NaN      10   17.0    27.0  28.0       38.0
3     NaN    NaN       2    2.0     4.0  51.0       30.0
4     NaN    NaN      55    9.0     0.0  22.0       36.0
5     NaN    NaN      98   76.0     9.0  25.0       31.0

In [21]:
# axis=1 se concatena en forma vertical
pd.concat((df1, df2), axis = 1)

   orange  apple  grapes  grapes  mango  banana  pear  pineapple
0     3.0    0.0     7.0      13     10      20    21         30
1     2.0    3.0    14.0      12     13      23    24         33
2     0.0    7.0     6.0      10     17      27    28         38
3     1.0    2.0    15.0       2      2       4    51         30
4     NaN    NaN     NaN      55      9       0    22         36
5     NaN    NaN     NaN      98     76       9    25         31

In [ ]:
import pandas as pd
df1 = pd.DataFrame(
    [
       (1, 345, 'B', True),
       (2, 100, 'C', False),
       (3, 300, 'B', False),
       (4, 151, 'A', False),
       (5, 212, 'A', True),
       (6, 121, 'C', False),
       (7, 333, 'B', True),
       (8, 456, 'C', True),
    ],
    columns=['id', 'value', 'colC', 'colD'])
df2 = pd.DataFrame(
    [
       (1, 111, 10.1, 3),
       (9, 56, 3.33, 10),
       (10, 17, 18.0, 8),
       (3, 567, 19.1, 4),
       (11, 98, 2.1, 1),
       (6, 31, 3.14, 12),
    ],
    columns=['id', 'value', 'colE', 'colF'])

In [ ]:
# Inner join
df1.merge(df2, on='id')

In [ ]:
# left join
df1.merge(df2, on='id', how='left')

In [ ]:
# right join
df1.merge(df2, on='id', how='right')

In [ ]:
# full outer join
df1.merge(df2, on='id', how='outer')

In [ ]:
# left anti join
df1.merge(df2, on='id', how='left', indicator=True) \
    .query('_merge == "left_only"')[["id","colC","colD"]]

In [ ]:
# right anti join
df1.merge(df2, on='id', how='right', indicator=True) \
  .query('_merge == "right_only"')

In [ ]:
import pandas as pd
data = {'id': [1, 2, 3, 4, 5, 6, 7, 7],
        'first_name': ['Sigrid', 'Kennedy', 'Theodoric', 'Sigrid', 'Kennedy', 'Beatrix', 'Olimpia', 'Olimpia'],
        'last_name': ['Mannock', 'Donnell', 'Rivers', 'Mannock', 'Donnell', 'Parlett', 'Guenther', 'Guenther'],
        'age': [27, 31, 36, 27, 53, 48, 36, 36],
        'amount': [7.17, 1.90, 1.11, 7.17, 1.41, 6.69, 4.62, 4.62]}
df = pd.DataFrame(data, columns = ['id', 'first_name', 'last_name', 'age', 'amount'])
df

In [ ]:
df.duplicated()

In [ ]:
df = df.drop_duplicates()
df

In [ ]:
# Busca duplicados en una sola columa
df.duplicated(df.columns[~df.columns.isin(['id'])])

In [ ]:
df = df.drop_duplicates(df.columns[~df.columns.isin(['id'])],
                        keep='first')
df