In [ ]:
!pip install seaborn

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib

In [ ]:
sales = pd.read_csv("./data/sales_data_sample.csv", encoding='ISO-8859-1')

In [ ]:
sales.columns

In [ ]:
sales.head()

In [ ]:
sales.shape

In [ ]:
sales.describe()

In [ ]:
sales.dtypes

In [ ]:
total_null = sales.isnull().sum().sort_values(ascending = False) # Total de nulos
percent_null = (sales.isnull().sum()/sales.isnull().count()).sort_values(ascending = False) #porcentaje de nulos
missing_data = pd.concat([total_null,percent_null],axis = 1,keys=['total_null','percent_null'])
missing_data

In [ ]:
total_null = sales.isnull().sum().sort_values(ascending = False)
total_null

In [ ]:
# Seleccionamos columnas de tipo entero
sales.select_dtypes(include=['object'])

In [ ]:
# Seleccion de columnas 
sales[["CUSTOMERNAME","CONTACTFIRSTNAME"]]

In [ ]:
# Seleccion de columnas mediante una lista
sales[sales.columns[-2:]]

In [ ]:
# Creamos una mascara boolean
booleanMask = sales.columns.isin(["CUSTOMERNAME","CONTACTFIRSTNAME"])
 
# guardamos las columnas que vamos a seleccionar 
selectedCols = sales.columns[booleanMask]
 
# Seleccionamos las columnas deseadas
sales[selectedCols]

In [ ]:
# Creamos una mascara boolean
booleanMask = sales.columns.isin(["CUSTOMERNAME","CONTACTFIRSTNAME1"])
booleanMask

In [ ]:
selectedCols = sales.columns[booleanMask]
selectedCols

In [ ]:
sales[selectedCols]

In [ ]:
# Usar .loc y .iloc para seleccionar columnas por nombre o posición
# .loc seleccion de una columna simple
sales.loc[:, 'CUSTOMERNAME' ]

In [ ]:
# Selección de columnas multiples
sales.loc[0:5, ["CUSTOMERNAME","CONTACTFIRSTNAME"] ]

In [ ]:
# uso de iloc
sales.iloc[1:5, [0, 2, 3] ]

In [ ]:
# seleccionamos las columnas que contengas NUMBER
sales.filter(like='NUMBER')

In [ ]:
sales.isna().sum()

In [ ]:
sales['STATE'].fillna(value='NY', inplace=True)

In [ ]:
df = sales[['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME']]
df

In [ ]:
# seleccionamos filas en base a condiciones
df2 = sales[(sales.STATE == 'NY') & (sales.QTR_ID == 1)]
df2

In [ ]:
df3 = df2.query('STATE == "NY" and QTR_ID == 1')
df3

In [ ]:
# group by

sales["count"] = 1
sales[["COUNTRY","count"]].groupby("COUNTRY").count()

In [ ]:
sales[["COUNTRY","PRICEEACH"]].groupby("COUNTRY").mean()

In [ ]:
sales[["COUNTRY","PRICEEACH"]].groupby("COUNTRY").min()

In [ ]:
sales.sort_values(by=["PRICEEACH"])

In [ ]:
sales.sort_values(by=["PRICEEACH"], ascending = False)

In [ ]:
sales.sort_values(by = ['YEAR_ID', 'PRICEEACH'], ascending = [True, False], na_position = 'first')

In [ ]:
# Concat
fruta = { 'orange' : [3,2,0,1], 'apple' : [0,3,7,2], 'grapes' : [7,14,6,15] } 
df1 = pd.DataFrame(fruta) 
df1

In [ ]:
fruta = { 'grapes' : [13,12,10,2,55,98], 'mango' : [10,13,17,2,9,76], 'banana' : [20,23,27,4,0,9], 'pear' : [21,24,28,51,22,25], 'pineapple' : [30,33,38,30,36,31] } 
df2 = pd.DataFrame(fruta) 
df2

In [ ]:
# axis=0 se concatena de forma horizontal
pd.concat((df1, df2), axis = 0)

In [ ]:
# axis=1 se concatena en forma vertical
pd.concat((df1, df2), axis = 1)

In [ ]:
import pandas as pd
df1 = pd.DataFrame(
    [
       (1, 345, 'B', True),
       (2, 100, 'C', False),
       (3, 300, 'B', False),
       (4, 151, 'A', False),
       (5, 212, 'A', True),
       (6, 121, 'C', False),
       (7, 333, 'B', True),
       (8, 456, 'C', True),
    ],
    columns=['id', 'value', 'colC', 'colD'])
df2 = pd.DataFrame(
    [
       (1, 111, 10.1, 3),
       (9, 56, 3.33, 10),
       (10, 17, 18.0, 8),
       (3, 567, 19.1, 4),
       (11, 98, 2.1, 1),
       (6, 31, 3.14, 12),
    ],
    columns=['id', 'value', 'colE', 'colF'])

In [ ]:
# Inner join
df1.merge(df2, on='id')

In [ ]:
# left join
df1.merge(df2, on='id', how='left')

In [ ]:
# right join
df1.merge(df2, on='id', how='right')

In [ ]:
# full outer join
df1.merge(df2, on='id', how='outer')

In [ ]:
# left anti join
df1.merge(df2, on='id', how='left', indicator=True) \
    .query('_merge == "left_only"')[["id","colC","colD"]]

In [ ]:
# right anti join
df1.merge(df2, on='id', how='right', indicator=True) \
  .query('_merge == "right_only"')

In [ ]:
import pandas as pd
data = {'id': [1, 2, 3, 4, 5, 6, 7, 7],
        'first_name': ['Sigrid', 'Kennedy', 'Theodoric', 'Sigrid', 'Kennedy', 'Beatrix', 'Olimpia', 'Olimpia'],
        'last_name': ['Mannock', 'Donnell', 'Rivers', 'Mannock', 'Donnell', 'Parlett', 'Guenther', 'Guenther'],
        'age': [27, 31, 36, 27, 53, 48, 36, 36],
        'amount': [7.17, 1.90, 1.11, 7.17, 1.41, 6.69, 4.62, 4.62]}
df = pd.DataFrame(data, columns = ['id', 'first_name', 'last_name', 'age', 'amount'])
df

In [ ]:
df.duplicated()

In [ ]:
df = df.drop_duplicates()
df

In [ ]:
# Busca duplicados en una sola columa
df.duplicated(df.columns[~df.columns.isin(['id'])])

In [ ]:
df = df.drop_duplicates(df.columns[~df.columns.isin(['id'])],
                        keep='first')
df